<?xml version="1.0"?>
<configuration>
  <!-- 必须包含此节，可以解析和使用后续的RedirectConfig -->
  <configSections>
    <section name="redirections" type="Redirect.RedirectConfigSection, Redirect"/>
  </configSections>

  <redirections DefaultExpiredInfo="该域名已经停止服务，请联系管理员获知新的域名">
<!--
OldDomain：原来使用的域名
NewDomain：需要新启用的域名
IsKeepPath：是否保留url中path的部分
ExpiredDate：过期日期，到这一天的最后一秒
ExpiredInfo：过期后显示的文案。可以为空，为空时使用上级的DefaultExpiredInfo停止服务应该解除iis绑定和删除dns记录
WarningInfo：当下需要显示的警示文案（使用[ExpireDate]在输出时替换为过期日期的内容）。可以为空，为空则直接跳转
    <redirection OldDomain="www.old.com" NewDomain="www.new.com" IsKeepPath="1"
                  ExpiredDate="2015-03-01" ExpiredInfo="过期不候"
                  WarningInfo="快要过期了，到期日期为：[ExpireDate]" />
-->
    <redirection OldDomain="www.old.com" NewDomain="www.new.com" IsKeepPath="1"
                  ExpiredDate="2015-02-01" ExpiredInfo="过期不候"
                  WarningInfo="快要过期了，到期日期为：[ExpireDate]" />
    <redirection OldDomain="www.old.com2" NewDomain="www.new.com2" IsKeepPath="0"
                  ExpiredDate="2015-02-01" ExpiredInfo="过期不候"
                  WarningInfo="快要过期了，到期日期为：[ExpireDate]" />
    <redirection OldDomain="www.old.com3" NewDomain="www.new.com3" IsKeepPath="1"
                  ExpiredDate="2015-02-01" ExpiredInfo="过期不候" />
  </redirections>
  
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>

    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    <httpHandlers>
      <add verb="*" path="*"  type="Redirect.RedirectHandler, Redirect"/>
    </httpHandlers>
  </system.web>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
                type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>

  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="RedirectHandler" />
      <add name="RedirectHandler" verb="*" path="*"  type="Redirect.RedirectHandler, Redirect"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
